@import "../../app.scss";

.feedContainer{
    display: flex;
    flex-direction: column;
    
    
    .eachPost{
        border: solid 1px black;
        width: fit-content;
        align-self: center;
        margin-top: 10px;

        .postTop{
            display: flex;
            padding: 8px 5px;
            gap: 7px;

            .profilePic{
                height: 19px;
                width: 19px;
                object-fit: cover;
                border: solid 1px blue;
                border-radius: 50%;
            }
        }

        .postImg{
            height: 25rem;
            width: 25rem;
            object-fit: cover;

            @include mobile {
                width: 15rem;
                }
        }
  }
}