@import "../../app.scss";

.feedContainer{
    display: flex;
    flex-direction: column;
    
    
    .eachPost{
        border: solid 1px black;
        width: fit-content;
        align-self: center;
        margin-top: 10px;
        background-color: beige;

        .postTop{
            display: flex;
            padding: 8px 5px;
            gap: 7px;

            .profilePic{
                height: 19px;
                width: 19px;
                object-fit: cover;
                border: solid 1px blue;
                border-radius: 50%;
            }
        }

        .postImg{
            // height: 25rem;
            width: 25rem;
            // object-fit: contain;
            border: solid 1px rgb(109, 106, 106);

            @include mobile {
                width: 99%;
                }
        }
        .caption{
            margin: 6px 0;
        }

        .thumbIcon{
            font-size: 2rem;
            cursor: pointer;
        }
        .comments{
            margin: 8px 0;
            .commentName{
                font-weight: 600;
                margin-right: 6px;
            }
    }
  }
}