@import "../../app.scss";

.feedContainer{
    display: flex;
    flex-direction: column;
    
    
    .eachPost{
        border: solid 1px black;
        width: fit-content;
        align-self: center;
        margin-top: 10px;
        background-color: beige;

        .postTop{
            display: flex;
            justify-content: space-between;
            padding: 8px 5px;
            // gap: 7px;

            .postTopPicAndName{
                display: flex;
                gap: 10px;

                .profilePic{
                    height: 19px;
                    width: 19px;
                    object-fit: cover;
                    border: solid 1px blue;
                    border-radius: 50%;
                }

                >h3 {
                    cursor: pointer;
                }
            }

        .postTopEditAndDeleteIcons{
            display: flex;
            gap: 30px;
            margin-right: 1rem;
            
            .postEditIcon{
                cursor: pointer;
            }

            .postDeleteIcon{
                cursor: pointer;
            }
          }
            
        }

        .postImg{
            // height: 25rem;
            width: 25rem;
            // object-fit: contain;
            border: solid 1px rgb(109, 106, 106);

            @include mobile {
                width: 99%;
                }
        }
        .caption{
            margin: 6px 0;
        }

        .thumbIcon{
            font-size: 2rem;
            cursor: pointer;
        }
        .comments{
            margin: 8px 0;

            .commentName{
                font-weight: 600;
                margin-right: 6px;
            }

            .deleteAndEditIcons{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 14px;
                margin-top: 5px;

                .commentsIcon{
                    background-color: rgb(209, 209, 194);
                    padding: 6px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
            > textarea{
                width: 99%;
                border-top: none;
                border-left: none;
                border-right: none;
                resize: none;
                margin-top: 12px;
                outline: none;
                overflow: hidden;
            }
    }
  }
}