.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    min-height: 2rem;
    font-weight: 500;

    @media(max-width: 360px){
        display: none;
    }
}